{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<form class="row g-3" action="/add" method="POST">
    <div class="col-md-6">
      <label for="title" class="form-label">Title</label>
      <input type="title" class="form-control" id="title" name="title">
    </div>

    <div class="col-md-4">
      <label for="genre" class="form-label">Genre</label>
      <select id="genre" class="form-select" name="genre"> 
        <option selected>Choose...</option>
        <option>Action</option>
        <option>Platformer</option>
        <option>FPS</option>
        <option>Horror</option>
        <option>Survival</option>
        <option>Sandbox</option>
      </select>
    </div>

    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>

      <div class="col-md-6">
        <label for="developer" class="form-label">Developer</label>
        <input type="text" class="form-control" id="developer" name="developer">
      </div>

    <div class="col-md-4">
      <label for="release" class="form-label">Release Date</label>
      <input type="text" class="form-control" id="release" placeholder="Year" name="release">
    </div>

      <div class="col-md-6">
        <label for="publisher" class="form-label">Publisher</label>
        <input type="text" class="form-control" id="publisher" name="publisher">
      </div>

      <div class="col-md-4">
        <label for="img_url" class="form-label">img_url</label>
        <input type="text" class="form-control" id="img_url" name="img_url">
      </div>

    <button type="button" class="btn btn-secondary" href="">Cancel</button>
    <button type="submit" class="btn btn-primary">Update Database</button>
  </form>
{% endblock %}