{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1>The Video Games</h1>

<!-- Add your page-specific content here -->


<div class="container">
  <div class="row">
    {% for game in games %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card m-4">
        <img src="{{game.img_url}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <div class="card-text">
              <p>Developer: {{game.developer}}</p>  
              <p>Publisher: {{game.publisher}}</p>
              <p>Release Year: {{game.release}}</p>
              <p>Genre: {{game.genre}}</p>
            </div>
            <div class="card-footer">
              <button class="btn">
                <a href="{{ url_for('edit', id=game.id)}}">Edit</a>
              </button>
              <button class="btn">
                <a href="#">Delete</a>
              </button>
            </div>
          </div>
      </div>
    </div>
    
    {% endfor %}
  </div>
</div>
{% endblock %}
